
code {
    color: #c02d76;
}


.task-board {
    display: flex;
    gap: 20px;
    padding: 0 20px;
    width: 100%; 
    box-sizing: border-box; 
}


.column {
    flex: 1;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 0; 
}


.column-header {
    background: white; 
    color: #333; 
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-radius: 8px 8px 0 0; 
    border: 1px solid #ccc; 
    border-bottom: 2px solid #ccc; 
    margin: 0 10px; 
}


.task-card {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
}


    .task-card.pending {
        background: #f5d3f6;
        border: 1px solid #f5d3f6;
    }


    .task-card.in-progress {
        background: #d7e9fb;
        border: 1px solid #d7e9fb;
    }


    .task-card.completed {
        background: #aee9d1;
        border: 1px solid #aee9d1;
    }


.task-title {
    font-weight: bold;
    margin-bottom: 5px;
}


.task-dates {
    font-size: 0.9em;
    color: #555;
    margin-top: 5px;
}

.header-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 55px 0; 
    text-align: center; 
}

.extra-bold {
    font-weight: 900;
}
